<table width="100"  >
    <thead >
      <tr>
        <th scope="col">Person</th>
        <th scope="col">Contact</th>
        <th scope="col">Treatment</th>
        <th scope="col" >Date</th>
      </tr>
    </thead>
    <tbody>
            <!-- <tr *ngFor="let p of ngconf">
              <td>{{ reg.mail }}</td>
              <td>{{ reg.mail }}</td>
              <td>{{p.organizer}}</td>
              <td> <img src="assets/images/{{p.image}}" width="150"  > </td>
              </tr>
              <tr> -->
            </tbody>
          </table>